{# {% import _self as formMacros %} #}

{# {% macro printSessionRow (session) %}
    <div class="row js-session-item">
        <div class="col-lg-3">
            {{ form_row(session.descriptionEs) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(session.descriptionEu) }}
        </div>
        <div class="col-lg-1 d-flex form-check form-check-inline align-items-center">
            {{ form_label(session.active) }}
            <span class="text-danger">{{ form_errors(session.active) }}</span>
            {{ form_widget(session.active, {'attr': {'class': 'form-check-input'}}) }}
        </div>
        <div class="col-lg-1 d-flex form-check form-check-inline align-items-center">
            <button class="btn btn-danger" data-action="course-form#deleteSession">{{'btn.delete' | trans }}</button>
        </div>
    </div>
{% endmacro %} #}

<div {{ stimulus_controller('course-form')}}>
{{ form_start(form, {'attr': {'data-course-form-target' : 'form', 'data-action' : 'submit->course-form#onSubmit'}}) }}
    <div class="container-fluid" {{ stimulus_controller('toggle') }} >
        <div class="row">
            <div class="col-lg-3">
                {{ form_row(form.clasification) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.activity) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.nameEs) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.nameEu) }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3">
                {{ form_row(form.turnEs) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(form.turnEu) }}
            </div>
            <div class="col-lg-1">
                {{ form_row(form.cost) }}
            </div>
            <div class="col-lg-1">
                {{ form_row(form.deposit) }}
            </div>
            <div class="col-lg-1">
                {{ form_row(form.places) }}
            </div>
            <div class="col-lg-2">
                {{ form_row(form.limitPlaces) }}
            </div>
        </div>
        <div class="row" {{ stimulus_controller('datepicker', {
               'selector': '.js-datepicker',
            }) }}>
            <div class="col-lg-2">
                {{ form_row(form.startDate,{'attr': {'data-course-form-target' : 'startDate'}}) }}
            </div>
            <div class="col-lg-2">
                {{ form_row(form.endDate,{'attr': {'data-course-form-target' : 'endDate'}}) }}
            </div>
            <div class="col-lg-2">
                {{ form_row(form.status) }}
            </div>
            <div class="col-lg-1 d-flex form-check form-check-inline align-items-center">
                {{ form_label(form.active) }}
                <span class="text-danger">{{ form_errors(form.active) }}</span>
                {{ form_widget(form.active, {'attr': {'class': 'form-check-input'}}) }}
            </div>                
        </div>
        <div class="d-grid gap-2 d-md-block">
            {% if not readonly %}
                <button class="btn btn-primary">{{'btn.save' | trans }}</button>
            {% endif %}
            <button class="btn btn-secondary js-back" data-url="{{ path('app_course_index')}}">{{'btn.cancel' | trans }}</button>
        </div>
    </div>
{{ form_end(form) }}
    <template id="dateError">
        <swal-title>
            {{ 'message.error' | trans({},'alerts') }}
        </swal-title>
        <swal-icon type="error" color="red"></swal-icon>
        <swal-html>{{ 'error.dateError' | trans({},'alerts') }}</swal-html>
        <swal-button type="confirm">
            {{ 'btn.ok' | trans({},'alerts') }}
        </swal-button>
        <swal-param name="allowEscapeKey" value="true"/>
    </template>
</div>