{% extends 'base.html.twig' %}

{% block title %}{{'title.billing' | trans | capitalize }}{% endblock %}

{% block body %}
   <div class="container-fluid">
      <div class="row">
         <div class="col">
            <div class="alert alert-primary" role="alert">{{ 'label.alert.onlyForDomiciledActivitys' | trans }}</div>            
         </div>
      </div>
      {{ include('billing/_searchForm.html.twig') }}
      <div data-reload-content-target="content">
         {{ include('billing/_list.html.twig', { 'activitys': activitys }) }}
      </div>
      {{ include('common/_alert.html.twig', {
         'confirmationText' : 'messages.confirmationDetail' | trans 
      }) }}
   </div>
{% endblock %}
