{% extends 'base.html.twig' %}

{% block title %}{{ 'title.clasifications' | trans }}{% endblock %}

{% block body %}
    <h2>{{'title.clasifications' | trans }}</h2>
      <div {{ stimulus_controller('reload-content', 
               { 'url': path('app_clasification_index', { 'ajax' : 'true'}),
                  'locale': app.request.locale|split('_')[0] })}} data-action="entity:success->reload-content#refreshContent entity:init->reload-content#refreshContent">

         <div {{ stimulus_controller('entity', 
                  { 'locale': app.request.locale|split('_')[0], 
                  'entitySaveUrl': path('app_clasification_save'),
                  })}} 
               class="container-fluid"
               {# data-action="hidden.bs.modal->entity#modalHidden" #}
               data-action="keypress->entity#keyPress"
               >
               <div data-reload-content-target="content">
                  {{ include('clasification/_list.html.twig', { 'clasifications': clasifications }) }}
               </div>
            {{ include('common/_modal.html.twig', {
                  'modalTitle': 'title.clasification' | trans,
                  'formTemplate': 'clasification/_form.html.twig'
               }) 
            }}
            <div class="float-right fixed-bottom-right"><btn class="btn btn-primary rounded-circle" data-action="click->entity#openModal"><i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i></btn></div>
            {{ include('common/_alert.html.twig', {
                'confirmationText' : 'messages.confirmationDetail' | trans 
            }) }}
         </div>
   </div>
{% endblock %}
