{% extends 'base.html.twig' %}

{% block title %}{{ 'title.clasification.new' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.clasification.new' | trans }}</h1>

    {{ include('clasification/_form.html.twig') }}

    <a href="{{ path('app_clasification_index') }}">{{ 'btn.cancel' | trans }}</a>
{% endblock %}
