{% extends 'base.html.twig' %}

{% block title %}{{ 'title.activityType.new' | trans }}{% endblock %}

{% block body %}
    <h2>{{ 'title.activityType.new' | trans }}</h2>

    {{ include('activityType/_form.html.twig') }}

    <a href="{{ path('app_activity_type_index') }}">{{ 'btn.cancel' | trans }}</a>
{% endblock %}
