{% extends 'base.html.twig' %}

{% block title %}
    {% if new %}
        {% set title = 'title.registration.new' | trans | capitalize %}
    {% elseif readonly %}
        {% set title = 'title.registration.show' | trans | capitalize %}
    {% else %}
        {% set title = 'title.registration.edit' | trans | capitalize %}
    {% endif %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if new %}
        {% set title = 'title.registration.new' | trans | capitalize %}
    {% elseif readonly %}
        {% set title = 'title.registration.show' | trans | capitalize %}
    {% else %}
        {% set title = 'title.registration.edit' | trans | capitalize %}
    {% endif %}
    <div class="d-flex align-items-center">
        <h1>{{ title }}</h1>
        {% if not new and not readonly %}
            &nbsp;<span>{{ include('register/_delete_form.html.twig') }}</span>
        {% endif %}
    </div>

    {{ include('register/_form.html.twig') }}

    {{ include('common/_alert.html.twig', {
        'confirmationText' : 'messages.confirmationDetail' | trans 
    }) }}

{% endblock %}
