{% extends 'base.html.twig' %}

{% block title %}{{ 'title.registrations' | trans }}{% endblock %}

{% block body %}
   <h1 class="h2">{{'title.registrations' | trans }}</h1>
   <div class="container-fluid">
      {{ include('register/_searchForm.html.twig') }}
      <div data-reload-content-target="content">
         {{ include('register/_list.html.twig', { 'registrations': registrations }) }}
      </div>
      {# {{ include('common/_modal.html.twig', {
            'modalTitle': 'title.activity' | trans,
            'formTemplate': 'activity/_form.html.twig'
         }) 
      }} #}
      {# <div class="float-right fixed-bottom-right"><btn class="btn btn-primary rounded-circle" data-action="click->entity#openModal"><i class="fa fa-plus" title='{{ "btn.new" | trans | capitalize }}'></i></btn></div> #}
      {{ include('common/_alert.html.twig', {
         'confirmationText' : 'messages.confirmationDetail' | trans 
      }) }}
   </div>
{% endblock %}
