{% extends 'base.html.twig' %}

{% block title %}{{ 'title.activeActivitys' | trans }}{% endblock %}

{% macro printActivityCard(activity) %}
<div class="col-sm-12 col-md-6 col-lg-3">
   <div class="card text-center">
      <div class="card-body">
         <h5 class="card-title">
            {% if app.request.locale == 'es' %}
               {{ activity.nameEs }}
            {% else %}
               {{ activity.nameEu }}
            {% endif %}
         </h5>
         <p class="card-text">{{"activity.inscriptionPeriod" | trans }}<br/>
         <p>{{activity.startDate | date('Y/m/d')}} - {{activity.endDate | date('Y/m/d')}}</p>
         {% if activity.url != null %}
            <p>{{ 'label.newTab' | trans }}</p>
            <a href="{{ activity.url }}" title="{{ 'btn.register' | trans }}"
               class="btn btn-primary" target="_blank">{{ 'btn.register' | trans }}
            </a>
         {% elseif not (activity.limitPlaces and activity.registrations | length >= activity.places) %}
            <a href="{{ path ("app_register_new", {'activity': activity.id })}}"  title="{{ 'btn.register' | trans }}"
               class="btn btn-primary">{{ 'btn.register' | trans }}
            </a>
         {% endif %}
      </div>
   </div>
</div>
{% endmacro %}

{% block body %}
   <h1 class="h2">{{'title.activeActivitys' | trans }}</h2>
   <div {{ stimulus_controller('active-activitys-filter') }}>
      {{ include('register/_activeActivitysSearchForm.html.twig') }}
   </div>
   <div class="container-fluid table-responsive">
   {% if activeActivitys is defined and activeActivitys|length > 0 %}
      <div class="row">
         {% for activity in activeActivitys %}
            {{ _self.printActivityCard(activity) }}         
         {% endfor %}
      </div>
   {% else %}
      <div class="mt-2 p-2 border border-black text-center bg-light">{{"messages.results0" | trans }}</div>
   {% endif %}
</div>
{% endblock %}
