{% block body_html %}
	<!DOCTYPE html>
	<html lang="{{app.request.locale}}">
		<head>
			<meta charset="utf-8">
			<title>{{'mail.message.title' | trans }}</title>
			<style>
				html {
					font-family: sans-serif;
					line-height: 1.15;
					-webkit-text-size-adjust: 100%;
					-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
				}

				body {
					margin: 0;
					font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
					font-size: 1rem;
					font-weight: 400;
					line-height: 1.5;
					color: #212529;
					text-align: left;
					background-color: #fff;
				}
            .indented {
               padding-left: 1rem;
            }
			</style>
		</head>

		<body>
         <header>
            <img class="logo" alt="Udaletxearen logoa" src="{{ absolute_url(asset('build/images/logo.jpg')) }}">
            <h1>{{ 'title.appTitle' | trans }}</h1>
         </header>
			<div><b>{{ 'mail.registration.id' | trans }}</b>:&nbsp;{{registration.id}}</div>
         <div><b>{{ 'register.forMe' | trans}}</b>:&nbsp;{{ registration.forMe ? 'messages.si' | trans : 'messages.no' | trans }}</div>
			<div><b>{{ 'register.dni' | trans }}</b>:&nbsp;{{registration.dni}}
			<div><b>{{ 'register.name' | trans }}</b>:&nbsp;{{registration.name}}</div>
			<div><b>{{ 'register.surname1' | trans }}</b>:&nbsp;{{registration.surname1}}</div>
			<div><b>{{ 'register.surname2' | trans }}</b>:&nbsp;{{registration.surname2}}</div>
			<div><b>{{ 'register.telephone1' | trans }}</b>:&nbsp;{{registration.telephone1}}</div>
			<div><b>{{ 'register.telephone2' | trans }}</b>:&nbsp;{{registration.telephone2}}</div>
			<div><b>{{ 'register.dateOfBirth' | trans }}</b>:&nbsp;{{registration.dateOfBirth | date('Y-m-d')}}</div>
			<div><b>{{ 'register.subscriber' | trans }}</b>:&nbsp;{{registration.subscriber ? 'messages.si' | trans : 'messages.no' | trans }}</div>
         <div><b>{{ 'register.course' | trans}}</b>:&nbsp;{{ app.request.locale == 'es' ? registration.course.nameEs : registration.course.nameEu }}</div>
         {% if registration.representativeDni is not null %}
            <h2>{{ 'mail.representative' | trans }}</h2>
            <div class="indented"><b>{{ 'register.representativeDni' | trans}}</b>:&nbsp;{{registration.representativeDni}}</div>
         {% endif %}
         {% if registration.representativeName is not null %}
            <div class="indented"><b>{{ 'register.representativeName' | trans}}</b>:&nbsp;{{registration.representativeName}}</div>
         {% endif %}
         {% if registration.representativeSurname1 is not null %}
            <div class="indented"><b>{{ 'register.representativeSurname1' | trans}}</b>:&nbsp;{{registration.representativeSurname1}}</div>
         {% endif %}
         {% if registration.representativeSurname2 is not null %}
            <div class="indented"><b>{{ 'register.representativeSurname2' | trans}}</b>:&nbsp;{{registration.representativeSurname2}}</div>
         {% endif %}
         <h2>{{ 'mail.payment' | trans }}</h2>
         <div><b>{{ 'register.paymentDni' | trans}}</b>:&nbsp;{{ registration.paymentDni }}</div>
         <div><b>{{ 'register.paymentIBANAccount' | trans}}</b>:&nbsp;{{ registration.paymentIBANAccount }}</div>
		</body>
	</html>
{% endblock %}
