{% trans_default_domain 'mail' %}
{% block body_html %}
	<!DOCTYPE html>
	<html lang="{{app.request.locale}}">
		<head>
			<meta charset="utf-8">
			<title>{{'mail.confirmationEmail.title' | trans }}</title>
			{# {% for path in encore_entry_css_files('app') %}
				<link rel="stylesheet" href="{{ absolute_url(path) }}">
			{% endfor %} #}
			<style>
				{{ include('mailing/_emailStyles.html.twig') }}
			</style>
		</head>
		<body>
         <header>
            <img class="logo" alt="Udaletxearen logoa" src="{{ absolute_url(asset('build/images/logo.jpg')) }}">
            <h1>{{ 'title.appTitle' | trans({},'messages') }}</h1>
         </header>
			<div class="alert alert-success">{{ 'mail.confirmationText' | trans }}</div>
			<div>{{ 'mail.confirmationTextExplanation' | trans | raw }}</div>

			{{ include('register/_registrationDetails.html.twig', {
				'paymentData': true,
			}) }}
		</body>
	</html>
{% endblock %}
