{% trans_default_domain 'mail' %}
{% block body_html %}
	<!DOCTYPE html>
	<html lang="{{app.request.locale}}">
		<head>
			<meta charset="utf-8">
			<title>{{'mail.fillGaps.title' | trans }}</title>
			<style>
				{{ include('mailing/_emailStyles.html.twig') }}
			</style>
		</head>
		<body>
         <header>
            <img class="logo" alt="Udaletxearen logoa" src="{{ absolute_url(asset('build/images/logo.jpg')) }}">
            <h2>{{ 'title.appTitle' | trans({},'messages') }}</h2>
         </header>
			<div class="alert alert-success">{{ 'mail.fillGapsText' | trans }}</div>
			<div>{{ 'mail.fillGapsTextExplanation' | trans | raw }}</div>

			<a class="btn btn-primary" href="{{ absolute_url(path('app_registration_confirm',{'id': registration.id, 'token': registration.token })) }}">{{ 'mail.accept' | trans }}</a>

			{{ include('register/_registrationDetails.html.twig',{
				'paymentData': false,
			}) }}
		</body>
	</html>
{% endblock %}
